h1 {
    color: red;
}

div.sample{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

main{
    margin-top: 8em;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

main > .container {
    padding: 20px 15px 0;
}


div.mycard{
    margin: auto; 
    width: 18rem; 
}

.add_author {
    margin-bottom: 2em;
}