{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"> 
{% endblock %}
{% block content %}
<div class="card border-light mb-3 mycard">
    <div class="card-header">{{ book.title }}</div>
    <a href="{{ book.url }}" target='_blank'>
            <img src="{{ url_for('static', filename='images/'+book.image) }}" alt="Couverture de {{ book.title }}"
                    title="{{ book.title }}" class="card-img-top" />
    </a>
    <div class="card-body">
        <h5 class="card-text card-footer">
                Auteur : {{ book.author }}
        </h5>
        <h6 class="card-text card-footer">
                Prix : {{ book.price }} €
        </h6>
        {% if current_user.is_authenticated %}
        <div class="card-footer">
                {% if is_favorite %}
                        <a href="{{ url_for('favorite_book', id=book.id) }}" class="btn btn-danger">Retirer des favoris</a>
                {% else %}
                        <a href="{{ url_for('favorite_book', id=book.id) }}" class="btn btn-primary">Ajouter au favoris</a>
                {% endif %}
        </div>

        <div class="card-footer">
                <a href="{{ url_for('edit_book', id=book.id) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ url_for('delete_book', id=book.id) }}" class="btn btn-danger">Supprimer</a>
        </div>
        {% endif %}
    </div>        
</div>
{% endblock %}
