    {% extends "base.html" %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    {% endblock %}


    {% block content %}
    <h1>Edit book:</h1>
    <div class="card border-light mb-3 mycard">
        <img src="{{ url_for('static', filename='images/'+book.image) }}" alt="Couverture de {{ book.title }}"
                        title="{{ book.title }}" class="card-img-top" />
    </div>
    <form method="POST" action="{{ url_for('edit_book', id=book.id) }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }} {{ form.title(size=50, class_="form-control") }}
        </div>
        {% if form.title.errors %}
            <ul class="list-group">
                {% for e in form.title.errors %}
                    <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            {{ form.price.label }} {{ form.price(size=50, class_="form-control") }}
        </div>
        {% if form.price.errors %}
            <ul class="list-group">
                {% for e in form.price.errors %}
                    <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-group">
            {{ form.author.label }} {{ form.author(class_="form-control") }}
        </div>
        {% if form.author.errors %}
            <ul class="list-group">
                {% for e in form.author.errors %}
                    <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-group">
            {{ form.url.label }} {{ form.url(size=50, class_="form-control") }}
        </div>
        {% if form.url.errors %}
            <ul class="list-group">
                {% for e in form.url.errors %}
                    <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-group">
            {{ form.image.label }} 
            {{ form.image(class_="form-control") }}
            <small class="form-text text-muted">Leave empty to keep the current image</small>
        </div>
        {% if form.image.errors %}
            <ul class="list-group">
                {% for e in form.image.errors %}
                    <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <input id="finish_edit_button" class="btn btn-primary" type="submit" value="Edit">
    </form>
    {% endblock %}